<div class="jumbotron" style="width:100%;">
  <h1 class="display-7">チャンネル名: <%= @channelInfo.channel_name %></h1>
  <hr>
  <%= link_to("チャンネル詳細", channel_details_show_path(channel_id: params[:channel_id]), class: "btn btn-primary") %>
  <a class="btn btn-primary" href=<%= "https://www.youtube.com/channel/" + params[:channel_id] %> role="button" target="_blank" rel="noopener noreferrer">
    チャンネルページ <i class="bi bi-arrow-up-right-square"></i>
  </a>
</div>

<table class="table table-striped">
  <caption>List of videos by channel</caption>
  <thead class="thead-dark">
    <tr><th>動画ID</th><th>動画名</th><th style="width: 120px;">再生回数</th><th>投稿日</th><th>登録日</th></tr>
  </thead>
    <% @videos.each do |video| %>
	    <tr class="bg-light">
        <td><%= link_to(video.video_id, video_details_show_path(channel_id: params[:channel_id], video_id: video.video_id)) %></td>
        <td><%= video.video_title %></td>
        <td><%= video.video_view %></td>
        <td><%= video.video_upload_at %></td>
        <td><%= video.created_at %></td>
      </tr>  
    <% end %>
</table>